In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shash\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shash\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shash\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shash\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shash\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\shash\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd

In [22]:
#First data structure is Series to hold homogenus 1 d data
data = [1,2,3,4,5] #series :for mean,median functionality
index =['a','b','c','d','e'] #create an index for the series
series=pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
#In reality 1 d arrays are less used
# 2nd type is DataFrame(like a table in dbms) heterogenus datatype
df = pd.DataFrame([[23,24,25],[26,27,28],[9,5,6]])
print(df)

    0   1   2
0  23  24  25
1  26  27  28
2   9   5   6

In [24]:
df = pd.DataFrame([[23,24,25],[26,27,28],[9,5,6]], 
                  columns=['c0','c1','c2'] , index=['r0','r1','r2'])
print(df) 
#f.columns
#df.index
#df.shape
#df.size
#df.describe()
#df.info
#Adding columns and row I am just giving the row and columns index

    c0  c1  c2
r0  23  24  25
r1  26  27  28
r2   9   5   6

In [88]:
obesity_data=pd.read_csv('./obesity_prediction.csv')

In [89]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [63]:
obesity_data.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [64]:
obesity_data.head(10) # get top 10 rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [65]:
obesity_data.tail(15)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2096,Female,25.955014,1.626449,104.879602,yes,yes,3.0,3.0,Sometimes,no,2.094901,no,0.070890,0.599441,Sometimes,Public_Transportation,Obesity_Type_III
2097,Female,25.996716,1.626580,105.037203,yes,yes,3.0,3.0,Sometimes,no,2.347322,no,0.008013,0.503896,Sometimes,Public_Transportation,Obesity_Type_III
2098,Female,25.992348,1.606474,104.954291,yes,yes,3.0,3.0,Sometimes,no,2.331123,no,0.063383,0.561661,Sometimes,Public_Transportation,Obesity_Type_III
2099,Female,25.974446,1.628855,108.090006,yes,yes,3.0,3.0,Sometimes,no,1.757105,no,0.085119,0.465444,Sometimes,Public_Transportation,Obesity_Type_III
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [66]:
obesity_data.sample(10) 
# It gives random 10 rows of output. Evry time we run it

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1701,Male,33.789301,1.681100,102.523111,yes,yes,2.813775,2.372705,Sometimes,no,1.000000,no,1.979355,0.000000,no,Public_Transportation,Obesity_Type_II
1379,Male,38.748307,1.782067,103.586342,yes,yes,2.845961,1.928220,Sometimes,no,2.642273,no,2.999918,1.000000,Frequently,Automobile,Obesity_Type_I
2051,Female,21.695892,1.755476,133.870501,yes,yes,3.000000,3.000000,Sometimes,no,1.959287,no,1.433151,0.911335,Sometimes,Public_Transportation,Obesity_Type_III
613,Female,19.376997,1.600264,45.000000,no,no,3.000000,3.000000,Frequently,no,2.949419,yes,1.295697,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
1790,Male,23.147644,1.815514,120.337664,yes,yes,2.996717,2.791366,Sometimes,no,2.626309,no,1.194898,0.034897,Sometimes,Public_Transportation,Obesity_Type_II
1039,Male,17.178483,1.786290,95.277392,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,1.072318,0.651904,Sometimes,Public_Transportation,Overweight_Level_II
208,Female,22.000000,1.690000,65.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
440,Female,18.000000,1.550000,56.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,no,Automobile,Normal_Weight
1285,Female,42.337283,1.646390,86.639861,yes,yes,2.816460,2.273740,Sometimes,no,1.722063,no,0.000000,0.000000,no,Automobile,Obesity_Type_I
266,Female,39.000000,1.650000,50.000000,no,yes,3.000000,4.000000,Frequently,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [67]:
obesity_data.sample(10,random_state=30)
#to get same set of rows when we run the cell .We are just giving a state to the sample subset

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
1077,Female,23.728707,1.663509,80.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.137550,no,0.000000,0.124977,no,Public_Transportation,Overweight_Level_II
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.000000,3.000000,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
1618,Male,41.000000,1.750000,115.806977,yes,yes,2.000000,2.701521,Sometimes,no,1.142644,no,0.514225,0.000000,no,Automobile,Obesity_Type_II
1347,Male,22.352025,1.754711,105.000706,yes,yes,2.871137,3.000000,Sometimes,no,2.627569,no,1.000000,0.000000,Sometimes,Public_Transportation,Obesity_Type_I
620,Female,19.931667,1.653209,49.026214,no,no,2.530066,3.000000,Sometimes,no,1.965237,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
1276,Male,19.089595,1.700164,99.204695,yes,yes,2.000000,2.119826,Sometimes,no,2.000000,no,0.000000,1.882539,no,Public_Transportation,Obesity_Type_I
1381,Female,33.226808,1.557943,77.647716,yes,yes,2.020910,2.093831,Sometimes,no,1.506518,no,0.000000,0.000000,Sometimes,Automobile,Obesity_Type_I
353,Female,24.000000,1.600000,51.000000,yes,yes,1.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,Sometimes,Automobile,Normal_Weight
220,Female,21.000000,1.750000,78.000000,yes,no,2.000000,3.000000,Frequently,no,2.000000,yes,0.000000,2.000000,Frequently,Public_Transportation,Overweight_Level_I

In [68]:
#Attributes

obesity_data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [69]:
(obesity_data.columns).tolist()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [70]:
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [71]:
#list(obesity_data.index)

In [72]:
obesity_data.shape #returns rows and columns

(2111, 17)

In [73]:
obesity_data.size
#number of elements

35887

In [74]:
#Functions
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [75]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [76]:
obesity_data.loc[0,'Age'] #age of the first row or 0th row

21.0

In [77]:
obesity_data.loc[:200,['Age','Weight','Height','Obesity']] #inclusive

      Age  Weight  Height              Obesity
0    21.0    64.0    1.62        Normal_Weight
1    21.0    56.0    1.52        Normal_Weight
2    23.0    77.0    1.80        Normal_Weight
3    27.0    87.0    1.80   Overweight_Level_I
4    22.0    89.8    1.78  Overweight_Level_II
..    ...     ...     ...                  ...
196  22.0    74.0    1.75        Normal_Weight
197  41.0   118.0    1.75      Obesity_Type_II
198  18.0    40.0    1.59  Insufficient_Weight
199  23.0    60.0    1.66        Normal_Weight
200  23.0    83.0    1.63       Obesity_Type_I

[201 rows x 4 columns]

In [78]:
obesity_data.loc[[1,2,3,100,300,480],['Age','Weight','Obesity']]

      Age  Weight             Obesity
1    21.0    56.0       Normal_Weight
2    23.0    77.0       Normal_Weight
3    27.0    87.0  Overweight_Level_I
100  21.0    63.0       Normal_Weight
300  26.0    70.0       Normal_Weight
480  18.0    50.0       Normal_Weight

In [67]:
obesity_data.loc[0:10,'Gender':'SMOKE']

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no

In [74]:
list(obesity_data.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [76]:
obesity_data.loc[:,'Weight':'Obesity']

,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [78]:
obesity_data.loc[0:10]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I

In [82]:
obesity_data.iloc[0:10 ,0:5] #not inclusive

   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
5    Male  29.0    1.62    53.0             no
6  Female  23.0    1.50    55.0            yes
7    Male  22.0    1.64    53.0             no
8    Male  24.0    1.78    64.0            yes
9    Male  22.0    1.72    68.0            yes

In [84]:
obesity_data.iloc[[0,1,5,67],[3,4,5,6]]

    Weight family_history FAVC  FCVC
0     64.0            yes   no   2.0
1     56.0            yes   no   3.0
5     53.0             no  yes   2.0
67    95.0            yes  yes   2.0

In [95]:
#Returns a single value
obesity_data.at[45,'Age']

21.0

In [96]:
#Returns the value at the particular index
obesity_data.iat[30,2]

1.77

In [103]:
#To get individual column we can use the [] with column name
obesity_data.loc[1:10,['Gender','Height','Gender']]

    Gender  Height  Gender
1   Female    1.52  Female
2     Male    1.80    Male
3     Male    1.80    Male
4     Male    1.78    Male
5     Male    1.62    Male
6   Female    1.50  Female
7     Male    1.64    Male
8     Male    1.78    Male
9     Male    1.72    Male
10    Male    1.85    Male

In [105]:
obesity_data.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1059,Female,34.204408,1.664927,80.386078,yes,yes,2.0,3.000000,Sometimes,no,2.641642,no,0.285889,1.503010,no,Automobile,Overweight_Level_II
166,Female,29.000000,1.740000,72.000000,yes,no,3.0,3.000000,Always,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
811,Male,19.741202,1.816783,86.522799,yes,yes,2.0,3.000000,Sometimes,no,2.177386,no,0.336814,0.004813,Sometimes,Public_Transportation,Overweight_Level_I
800,Female,18.000000,1.644682,68.392133,yes,yes,2.0,1.131695,Sometimes,no,1.344539,no,0.000000,1.592570,no,Public_Transportation,Overweight_Level_I
71,Female,22.000000,1.670000,50.000000,yes,no,3.0,3.000000,no,no,3.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [110]:
#Filter the data like a where clause using df.loc[df[col] (><) condition]
#This returns all the columns
obesity_data.loc[obesity_data['Height']>1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [111]:
obesity_data.loc[obesity_data['family_history'] == 'yes']

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.0,3.0,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
8,Male,24.000000,1.780000,64.000000,yes,yes,3.0,3.0,Sometimes,no,2.000000,no,1.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [116]:
#Select * from obesity_data where Weight < 50 and Obesity = 'Normal_Weight'
obesity_data.loc[(obesity_data['Weight']<50 )& (obesity_data['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [118]:
obesity_data.loc[(obesity_data['Weight']<50 ) | (obesity_data['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [123]:
#Same thing withou using loc can be done easily

obesity_data[(obesity_data['Weight'] < 50) & (obesity_data['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [126]:
#Regular Expression is important
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [129]:
obesity_data.loc[obesity_data['Obesity'].str.startswith('N')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [134]:
#Filtering based on regular expressions
obesity_data[(obesity_data['Weight']<50) &(obesity_data['Obesity'].str.startswith('N'))]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [149]:
#Updation operation
obesity_data.loc[0,'Age'] = 22

In [139]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [140]:
obesity_data.loc[:,'SMOKE'] ='yes'

In [141]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [144]:
obesity_data.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [145]:
#After practicing updating you can go back to the top of the cell and read_csv again .
#This will help you to play around and try new things
obesity_data.loc[[2,3],'Height'] = 1.62

In [146]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [147]:
obesity_data.loc[:2,'SMOKE'] = 'may be'

In [148]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [60]:
#using iloc
obesity_data.iloc[1,4] ='no dataaa'

AttributeError: 'str' object has no attribute 'iloc'

In [154]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [157]:
obesity_data.iloc[:,9] ='NO'

In [158]:
obesity_data.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,NO,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,NO,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,NO,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,NO,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,NO,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,NO,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,NO,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,NO,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [159]:
obesity_data.at[2,'Obesity'] = 'Overrr'

In [160]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,NO,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,NO,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,NO,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [162]:
obesity_data.iat[2,0] = 'panSexual'

In [163]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,NO,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,panSexual,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,NO,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,NO,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,NO,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [166]:
#without using loc we can update for entire columns
#shorthand notation for entire column
#Its like a map
obesity_data['SMOKE'] = '1/2 pack'

In [167]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,panSexual,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [178]:
#Increase the age of all the points by 5
#Apply the transformation
def increment_age_by_5(x):
    return x+5
obesity_data['Age']=obesity_data['Age'].apply(increment_age_by_5)

In [181]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,panSexual,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [180]:
obesity_data['Age']=obesity_data['Age'].apply(lambda x : x-5 )
obesity_data['Age']

0       22.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [182]:
# add new column by segregating the age category
obesity_data['Age-Category'] = obesity_data['Age'].apply(lambda x: 'Very Young' if x<25 else 'Elder' )

In [183]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,panSexual,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [185]:
obesity_data['Fact'] = obesity_data['Weight'].apply(lambda x: 'HeavyWeight' if x>70  else 'Light'  )

In [186]:
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Light
1,Female,21.0,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Light
2,panSexual,23.0,1.62,77.0,yes,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight
3,Male,27.0,1.62,87.0,no,no,3.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,Elder,Light
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,1/2 pack,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young,Light
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,1/2 pack,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Light
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,1/2 pack,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Light
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,1/2 pack,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Light
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,1/2 pack,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,Elder,HeavyWeight
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,1/2 pack,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,1/2 pack,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Light
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,Elder,HeavyWeight
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,1/2 pack,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Light
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,1/2 pack,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Light
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,1/2 pack,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Elder,HeavyWeight
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,Elder,HeavyWeight
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,1/2 pack,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,Elder,HeavyWeight
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young,Light

In [188]:
obesity_data['Fact'] = obesity_data['Weight'].apply(lambda x: 'HeavyWeight' if x>70  else ('OKOKWeight' if x>50 else 'Very Light')  )

In [190]:
obesity_data.sample(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact
1227,Female,18.086772,1.650000,82.136820,yes,yes,3.000000,3.000000,Sometimes,1/2 pack,1.000000,no,1.029750,1.350099,Sometimes,Public_Transportation,Obesity_Type_I,Very Young,HeavyWeight
2059,Female,26.000000,1.629727,111.275646,yes,yes,3.000000,3.000000,Sometimes,1/2 pack,2.495851,no,0.000000,0.218645,Sometimes,Public_Transportation,Obesity_Type_III,Elder,HeavyWeight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,1/2 pack,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight,Very Young,OKOKWeight
593,Male,18.274358,1.824655,58.621349,yes,yes,2.140840,4.000000,Sometimes,1/2 pack,2.931438,no,2.000000,1.164457,no,Automobile,Insufficient_Weight,Very Young,OKOKWeight
515,Female,21.962426,1.572060,43.919835,no,no,3.000000,1.600812,Frequently,1/2 pack,2.651258,no,0.600817,0.000000,no,Public_Transportation,Insufficient_Weight,Very Young,Very Light
268,Male,17.000000,1.670000,60.000000,no,no,2.000000,4.000000,Always,1/2 pack,2.000000,no,0.000000,2.000000,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight
273,Male,25.000000,1.710000,71.000000,yes,yes,2.000000,3.000000,Frequently,1/2 pack,2.000000,no,0.000000,0.000000,Sometimes,Motorbike,Normal_Weight,Elder,HeavyWeight
1111,Male,18.011718,1.680991,79.752916,yes,yes,2.413156,2.521546,Sometimes,1/2 pack,1.985312,no,0.007050,0.965464,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight
428,Male,23.000000,1.700000,69.000000,no,yes,3.000000,1.000000,Frequently,1/2 pack,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight
1858,Female,26.000000,1.610636,105.423532,yes,yes,3.000000,3.000000,Sometimes,1/2 pack,2.180566,no,0.000000,0.519905,Sometimes,Public_Transportation,Obesity_Type_III,Elder,HeavyWeight

In [192]:
#We can use numpy for filtering
import numpy as np

obesity_data['New Age Category'] = np.where( obesity_data['Age'] < 25 ,'Very Young','Old')

In [225]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,...,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,New Age Category
0,Female,22.0,100,1.62,64.0,yes,no,2.0,3.0,Sometimes,...,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,...,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,3.0,Sometimes,...,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight,Very Young
3,Male,27.0,100,1.62,87.0,no,no,3.0,3.0,Sometimes,...,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight,Old
4,Male,22.0,100,1.78,89.8,no,no,2.0,1.0,Sometimes,...,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight,Very Young

In [231]:
#Insert new data(column) into the data frame 
#.insert(position(index of the column),Name of the column,Value) 
obesity_data.insert(2,'BMI',(obesity_data['Weight'] / (obesity_data['Height'])**2))

In [232]:
obesity_data.head(2)

,Gender,Age,BMI,DS,Height,Weight,family_history,FAVC,FCVC,NCP,...,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,New Age Category
0,Female,22.0,24.386526,100,1.62,64.0,yes,no,2.0,3.0,...,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,24.238227,100,1.52,56.0,no dataaa,no,3.0,3.0,...,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young

In [233]:
#Drop the column using inplace true
#obesity_data.drop(columns='BMI',inplace=True)
#Drop by assigning and not using inplace
obesity_data=obesity_data.drop(columns='BMI')

In [234]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,...,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,New Age Category
0,Female,22.0,100,1.62,64.0,yes,no,2.0,3.0,Sometimes,...,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,3.0,Sometimes,...,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,3.0,Sometimes,...,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight,Very Young
3,Male,27.0,100,1.62,87.0,no,no,3.0,3.0,Sometimes,...,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight,Old
4,Male,22.0,100,1.78,89.8,no,no,2.0,1.0,Sometimes,...,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight,Very Young

In [235]:
del obesity_data['NCP']

In [236]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,New Age Category
0,Female,22.0,100,1.62,64.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight,Very Young
3,Male,27.0,100,1.62,87.0,no,no,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight,Old
4,Male,22.0,100,1.78,89.8,no,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight,Very Young

In [240]:
obesity_data.rename(columns={'SMOKE':'smoke'},inplace=True)

In [242]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,CAEC,smoke,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,New Age Category
0,Female,22.0,100,1.62,64.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight,Very Young
3,Male,27.0,100,1.62,87.0,no,no,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight,Old
4,Male,22.0,100,1.78,89.8,no,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight,Very Young

In [243]:
obesity_data.rename(columns={'SMOKE':'smoke','New Age Category':'OHH Category'},inplace=True)

In [245]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,CAEC,smoke,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact,OHH Category
0,Female,22.0,100,1.62,64.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight,Very Young
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight,Very Young
3,Male,27.0,100,1.62,87.0,no,no,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight,Old
4,Male,22.0,100,1.78,89.8,no,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight,Very Young

In [246]:
del obesity_data['OHH Category']

In [248]:
obesity_data.head()

,Gender,Age,DS,Height,Weight,family_history,FAVC,FCVC,CAEC,smoke,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age-Category,Fact
0,Female,22.0,100,1.62,64.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,OKOKWeight
1,Female,21.0,100,1.52,56.0,no dataaa,no,3.0,Sometimes,1/2 pack,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,OKOKWeight
2,panSexual,23.0,100,1.62,77.0,yes,no,2.0,Sometimes,1/2 pack,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overrr,Very Young,HeavyWeight
3,Male,27.0,100,1.62,87.0,no,no,3.0,Sometimes,1/2 pack,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Elder,HeavyWeight
4,Male,22.0,100,1.78,89.8,no,no,2.0,Sometimes,1/2 pack,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,HeavyWeight

In [253]:
df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Sandeep','Meghana','Nayana','Darshan']
})

df2=pd.DataFrame({
    'id':[2,3,4,5],
    'course':['Gen','CPP','HLD','LLD']
})
#Doin Inner Join as if in SQL
inner_result =pd.merge(df1,df2,how='inner',on='id')
inner_result

   id     name course
0   2  Meghana    Gen
1   3   Nayana    CPP
2   4  Darshan    HLD

In [258]:
#Doing Outer Join as if in the SQL Outer Join --null is replaced by NaN
outer_result =pd.merge(df1,df2,how='outer',on='id')
outer_result

   id     name course
0   1  Sandeep    NaN
1   2  Meghana    Gen
2   3   Nayana    CPP
3   4  Darshan    HLD
4   5      NaN    LLD

In [259]:
left_result =pd.merge(df1,df2,how='left',on='id')
left_result

   id     name course
0   1  Sandeep    NaN
1   2  Meghana    Gen
2   3   Nayana    CPP
3   4  Darshan    HLD

In [260]:
#Right JOIN 
right_result =pd.merge(df1,df2,how='right',on='id')
right_result

   id     name course
0   2  Meghana    Gen
1   3   Nayana    CPP
2   4  Darshan    HLD
3   5      NaN    LLD

In [261]:
##suppose we do not have the same name for the column in both the data frame
ff1= pd.DataFrame({
    'id1':[1,2,3,4],
    'name':['Dar','Suj','Sur','Sha']
})
ff2= pd.DataFrame({
    'id2':[2,3,4,5],
    'team':['EC','IT','DEV','DevOps']
})

inner_join = pd.merge(ff1,ff2,how='inner',left_on='id1',right_on='id2')
inner_join

   id1 name  id2 team
0    2  Suj    2   EC
1    3  Sur    3   IT
2    4  Sha    4  DEV

In [10]:
#Concatination using concat like union in sql
import pandas as pd
ff1= pd.DataFrame({
    'id1':[1,2,3,4],
    'name':['Dar','Suj','Sur','Sha']
})
ff2= pd.DataFrame({
    'id2':[2,3,4,5],
    'team':['EC','IT','DEV','DevOps']
})

join = pd.concat([ff1,ff2],axis=0) #axis=0 means stacked vertically together
oin=pd.concat([ff1,ff2],axis=0,ignore_index=True) #ignoring the index
join
oin

   id1 name  id2    team
0  1.0  Dar  NaN     NaN
1  2.0  Suj  NaN     NaN
2  3.0  Sur  NaN     NaN
3  4.0  Sha  NaN     NaN
4  NaN  NaN  2.0      EC
5  NaN  NaN  3.0      IT
6  NaN  NaN  4.0     DEV
7  NaN  NaN  5.0  DevOps

In [14]:
#vjoin=pd.concat([ff1,ff2],axis=1) #Horizontal Concatination
vjoin=pd.concat([ff1,ff2],axis=0,keys=['ff1','ff2']) #Getting the hierarchy
vjoin

       id1 name  id2    team
ff1 0  1.0  Dar  NaN     NaN
    1  2.0  Suj  NaN     NaN
    2  3.0  Sur  NaN     NaN
    3  4.0  Sha  NaN     NaN
ff2 0  NaN  NaN  2.0      EC
    1  NaN  NaN  3.0      IT
    2  NaN  NaN  4.0     DEV
    3  NaN  NaN  5.0  DevOps

In [19]:
#Handling null values
# join is merge
# union is concatenate

#Detect 
vjoin.isna().sum() #To see how many values are null
#vjoin.notna()

id1     4
name    4
id2     4
team    4
dtype: int64

In [31]:
obesity_data.notna().sum() #isna to check for null notna to check nonnull

Gender            2111
Age               2111
Height            2111
Weight            2111
family_history    2111
FAVC              2111
FCVC              2111
NCP               2111
CAEC              2111
SMOKE             2111
CH2O              2111
SCC               2111
FAF               2111
TUE               2111
CALC              2111
MTRANS            2111
Obesity           2111
dtype: int64

In [32]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [90]:
import numpy as np
obesity_data.loc[0,'Age']=np.nan
obesity_data.loc[1,'SMOKE']=np.nan
obesity_data.loc[2,'family_history']=np.nan

In [91]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [35]:
obesity_data.fillna(0)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,0.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,0,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,0,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [36]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [37]:
obesity_data.fillna(0,inplace=True)

In [50]:

obesity_data.loc[0,'Age']=np.nan
obesity_data.loc[1,'SMOKE']=np.nan
obesity_data.loc[2,'family_history']=np.nan

obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,NaN,no,2.0,3.0,Sometimes,ahh,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [92]:
obesity_data['Age']=obesity_data['Age'].fillna(obesity_data['Age'].mean())

In [93]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [94]:
obesity_data['family_history']=obesity_data['family_history'].fillna('ahh')
obesity_data['SMOKE']=obesity_data['SMOKE'].fillna('no')
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,ahh,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [95]:
obesity_data.iloc[2,9] = 'yes'

In [96]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,ahh,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [100]:
#We can handle more than 1 null values using  {} iin fillna

obesity_data.loc[3,'Age']=np.nan
obesity_data.loc[1,'SMOKE']=np.nan
obesity_data.loc[2,'family_history']=np.nan

obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,NaN,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,NaN,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [101]:
obesity_data['Age']=obesity_data['Age'].fillna(obesity_data['Age'].interpolate())

In [102]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,NaN,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,NaN,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,22.50000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [105]:
#drop null values
obesity_data.dropna(inplace=True)

In [106]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
3,Male,22.50000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.00000,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.00000,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight

In [110]:
#Group By
obesity_data.groupby('Gender').count()

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
Gender,,,,,,,,,,,,,,,,
Female,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
Male,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067

In [111]:
obesity_data.groupby('Gender')['Height'].mean()

Gender
Female    1.643416
Male      1.758652
Name: Height, dtype: float64

In [115]:
obesity_data.groupby('Gender')['Weight'].agg(['sum','mean'])

                 sum       mean
Gender
Female  85785.365833  82.327606
Male    96864.802872  90.782383

In [116]:
#Thank You @KeerthiPurswani